body {
	background-color: #fff;
}
#social {
	padding-right: 15px;
	font-size: 12px;
	color: #999;
}
#container {
    background-color: #fff;
	overflow: hidden;
	width: 635px;
	margin: 10px;
}
#map_body {
	overflow: hidden;
	padding-bottom: 0;
}

#header {
    border: 0;
    background-color: #fff;
	text-align: center;
}
	#titleline {
		margin: 0 0 10px 28px;
	}
	#header h2 {
		clear: both;
		margin: 0 auto;
		width: 559px;
		height: 41px;
		overflow: hidden;
		position: relative;
		background: none;
		text-indent: 0px;
		top: 5px;
	}

#meta-container {
	text-align: center;
	overflow: hidden;
	margin: 0 0 10px 0;
}
#chart-container {
    width: 590px;
    height: 590px;
	margin: 0 auto;
	overflow: hidden;
}
	.card {
	    width: 112px;
	    height: 112px;
		border: solid 1px #555;
		overflow: hidden;
	    font-size: 12px;
	    line-height: 16px;
	    float: left;
	    margin-left: 4px;
	    margin-bottom: 4px;
	    display: table;
	    background-color: #fff;
		background-image: none;
	    text-transform: uppercase;
		cursor: default;
		}

	}
	.free {
		background-image: none;
	    background-color: #fff;
	}
	.chip {
		background-image: none;
	    background-color: #fff;
	}
	.freechip {
		background-image: none;
	    background-color: #fff;
	}
	.card-text {
	    margin: auto;
	    text-align: center;
	    vertical-align: middle;
	    display: table-cell;
	    padding: 4px;
	}

#bingo-footer {
	width: 577px;
	height: 87px;
    margin: 0 auto;
	padding: 0;
    position: relative;
	overflow: hidden;
	background: none;
        font-size: 10px;
}

