html, body {
    margin: 0;
    height: 100%
    }

#titleline {
    float: left;
    padding-left: 8px;

}
#footerbar {
    background-color: #eee;
    height: 21px;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 15;

}
body {
    margin: 0px;
	padding: 0px;
    font-family: 'Montserrat', Arial, sans-serif;
    word-spacing: 1.5px;
    }
#navline {

    padding-top: 8px;
    padding-bottom: 8px;
}

.googft-info-window {
    letter-spacing: normal;
}
.popupbox {
    background: #ffec80;
    font-family: Arial, sans-serif;
    color: black;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 22px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display:none;
    border-top: 1px solid #fff;
    z-index: 50;
}
.popupbox > img {
    padding-bottom: 10px;
    display: none;
    

}
.boxhed {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    width: 90%;
}

.boxtext {
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 10px;
    width: 90%;
}

.boxtext a:link, .boxtext a:visited{
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
    color: black;
}

.closebutton{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 9px;
    background-image: url('http://project.wnyc.org/assets/img/flyout_close_off.png');
}

.closebutton:hover {
    background-image: url('http://project.wnyc.org/assets/img/flyout_close_on.png');

}

.closebutton img {
    display: none;
}




.input {
    background: #fff;
	height: 14px;
	color: gray;
}
.footerbutton-left {
    float: left;
}
.footerbutton-right {
    float: right;
}
.footerbutton a{
    text-transform: uppercase;
    color: black;
}

#social {
    display:block;
    padding-right: 8px;
    float: right;

}
a:link{
	text-decoration:none;
	color: #1959A6;
	cursor:pointer;
}

a:hover{
	text-decoration:underline;
}


#zoombox {
	color:gray;
        height: 23px;
        font-size: 12px;
        float: left;
        width: 75%;
        margin-right: 8px;
        margin-top: 8px;

}
#zoombutton {
padding-top: 8px;
float: left;
}

#expand {
	color: #1959A6;
	cursor:pointer;
	font-size:.9em;
	border-top-width: thin;
	border-top-style: solid; 
	border-top-color: #CC9900;
}

#expand:hover {
	text-decoration: underline;
}

#embed {
	color: #1959A6;
	cursor:pointer; 
	text-align: center;
	margin-top: 4px;
}



#embed:hover {
	text-decoration: underline;
}

#printline {
	color: #1959A6;
	cursor:pointer; 
	text-align: center;
	text-decoration: non;
	margin-top: 4px;
}

#printline a {
	color: #1959A6;
	text-decoration: none;
}

#printline:hover {
	text-decoration: underline;
}

#map_body {
    border: solid 1px #bbb;
    display: block;
    position: relative;
    top: 0;
    left: 0;
}
#container {
    border: solid 1px #e9e9e9;
    margin-right: 1px;

}
#map_canvas img, #map_canvas a {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	 -webkit-user-select: none; -moz-user-select: none;
	 }
	
#meta-container{

}
h1 {font-size:18px; margin:0 0 4px 0;}
h2 {font-size:16px; margin:0 0 6px 0;}


	#pane_5, #pane_6 { -webkit-user-select:text; }
	*:focus { outline-style :none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
	
#headertitle {
    font-size: 18px;
    color: #333;
    padding-left: 10px;
    padding-top: 4px;
    height: 100%;
    line-height: 20px;
    display: table-cell;
    vertical-align: middle;
    float: left;
    
}
    

#headerimg
{
    display: table-cell;
    vertical-align: middle;
    float: left;
}
#header{
    background-color:#EEE;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    color: #333;
    display: table;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
#headertext {
    
    font-size: 14px;
    font-family: Georgia, serif;
    line-height: 20px;
    padding-top: 10px;
    letter-spacing: normal;
    word-spacing: normal;
    padding-left: 8px;
    padding-right: 8px;
    clear: both;
}

footer{
	background-color: #FFF;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding:0px;
    font-size:12px;
    line-height:1.4em;
	text-align: center;
	}


/*	h1,h2,h1 a{display:inline-block;font-size:13px;vertical-align:middle;}
	h1{margin:0 10px 0 0;padding:0;}*/
	
	img{margin:0;padding:0;border:none;}
	
	div.InfoWindow{font-family:Arial;font-size:90%;}
	div.InfoWindow div.Address{font-size:80%;font-style:italic;margin-bottom:.9em;}
	div.InfoWindow div.Title{font-weight:bold;}

	#LoadingDiv{-moz-opacity:.25;-khtml-opacity:.25;background-color:Black;opacity:.25;width:100%;z-index:1000;position:absolute;top:27px;bottom:44px;left: 0;right:0;}
	#LoadingDiv p{height:32px;margin:0;position:absolute;top:50%;vertical-align:middle;width:100%;}
	#LoadingDiv img{display:block;height:32px;margin:0 auto;position:relative;top:-50%;width:32px;}

